<style type="text/css">
	

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


a {

	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	margin-top: 10px;
	color: #58627a;
}
footer {

}

h4 {
	line-height: 39px;
    font-size: 16px;
    color: #35405a;
    vertical-align: middle;
    display: block;
    margin-bottom: 29px;
    font-family: OpenSans-SemiBold;
}

.footer-content {
	margin-right: 10%;
	margin-left: 10%;
	display: flex;
	justify-content: space-around;
}

.logo-site {
	margin-right: 10%;
	margin-left: 10%;
	display: flex;
}

.logo-site img {
	width: 150px;
	margin-left: 35px;
}

.information {

}
.dapps {
	display: flex;
	flex-direction: column;
}

.dapps img {
	width: 100%;
	margin: 5px;
}


.mediapartner {

}

.mediapartner img {
	width: 150px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.logo-partner {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.logo-partner-lain {
	display: flex;
	justify-content: space-around;
}

.logo-partner-lain img {
	width: 80px;
	
}

.copy-right {
	margin-top: 20px;
	font-size: 10px;
	text-align: center;
}



@media all and (max-width: 670px) {

    .footer-content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

	}
	.logo-site {
		margin: 0;
	}

	li {
		font-size: 12px;
	}

	.text-contactus{
		font-size: 12px;
	}
	.contactus {
		width: 50%;
	}

	.information{
		width: 50%;
	}

	.downloadapp {
		width: 50%;
	}

	.mediapartner {
		width: 50%;
	}

	.dapps img {
    	width: 150px;
    	margin: 5px;
	}

	.mediapartner img {
		width: 110px;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.copy-right {
	    width: 100%;
	}

	.logo-partner-lain img {
		width: 50px;
		padding: 2px;
	}



}

</style>
